.contact_middle{
		width: 100%;
		margin: 0 auto;
}
.optacion{
		width: 860px;
		height: 30px;
		background: #FFFFFF;
		opacity: 0.6;
		position: absolute;
		z-index: 2;
		right: 50%;
		margin-right: -560px;
		margin-top: -30px;
		-webkit-opacity:0.6;//谷歌&苹果
		-moz-opacity:0.6;//火狐
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.about_tit2{
		width: 600px;
		height: 64px;
		margin: 0 auto;
		padding-top: 375px;
		border-bottom: 1px solid #808080;
}
.about_tit2 p{
		font-family: "微软雅黑";
		font-size: 17px;
		color: #999999;
		text-align: center;
}
.about_tit2 h2{
		font-family: "微软雅黑";
		font-size: 28px;
		color: #333333;
		text-align: center;
}
.middle_contact{
		width: 1200px;
		margin: 0 auto;
}
.contact_add{
		width: 1000px;
		height: 195px;
		float: right;
		margin-top: 56px;
}
.contact_add_font{
		width: 444px;
		height: 180px;
		float: left;
}
.contact_sao{
		width: 389px;
		height: 156px;
		float: right;
		margin-right: 58px;

}
.contact_sao span{
		font-family: "微软雅黑";
		font-size: 13.26px;
		color: #333333;

}
.contact_weibo{
		width: 167px;
		height: 156px;
		float: left;
		margin-right: 27px;
		text-align: center;
}
.contact_weibo img{
		margin-left: 10px;
}
.contact_weixin{
		width: 169px;
		height: 156px;
		float: left;
		text-align: center;	
}
.online{
		width: 800px;
		height: 540px;
		margin: 0 auto;
}
.online p{
		font-family: "微软雅黑";
		font-size: 13px;
		color: #4d4d4d;
		text-align: center;
		margin-top: 18px;
}
.online_photo{
		margin-top: 58px;
}
.online_form{
		width: 500px;
		height: 480px;

		float: right;
		margin-top: 25px;
}
.online_form input{
		width: 493px;
		height: 28px;
		background: #e6e6e6;
		border: 1px solid #e6e6e6;
		padding-left: 5px;
}
/*.online_form input:focus{
		border: 1px solid #cfd2e6;
}*/

.online_form textarea{
		width: 495px;
		height: 150px;
		resize: none;
		background: #e6e6e6;
		padding-left: 5px;
}
.online_form .verification_ph{
		width: 115px;
		height: 30px;
		text-align: center;
		color: #fff2e5;
		margin-top: 20px;
		float: left;
		margin-right: 20px;
}
.online_form input:last-child{
		width: 115px;
		height: 30px;
		text-align: center;
		color: #fff2e5;
		margin-top: 20px;
		background: #999999;
		border: none;
		float: left;
		cursor: pointer;
}
.online img{
		margin-top: 20px;
		float: left;
		margin-right: 14px;
		cursor: pointer;
}

.online_form a{
		font-family: "微软雅黑";
		font-size: 11px;
		color: #878787;
		margin-top: 35px;
		text-decoration: underline;
		float: left;
		margin-right: 26px;
}
.com_add{
		width: 1200px;
		height: 367px;
		margin: 0 auto;
		margin-bottom: 95px;
}
.com_add h6{
		font-family: "微软雅黑";
		font-size: 13px;
		font-weight: normal;
		color: #484848;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 30px;
}
.math_add{
		width: 1200px;
		height: 300px;
}


