.middle{
		width: 100%;
		margin: 0 auto;

}
.foot_sao a{
		background: url(../img/top_arr.png) no-repeat  center center #ffb266;
}
.about_us {
		width: 100%;
		background: url(../img/us_bg.jpg) repeat-x;
		padding-top: 18px;
}
.min_middle{
		width: 1200px;
		margin: 0 auto;
}

.title{
		width: 160px;
		height: 82px;
		margin: 0 auto;
		background: url(../img/fontbg.jpg) no-repeat center;
		
}
.title b:first-child{
		font-family: "微软雅黑" ;
		font-size: 17px;
		color: #cccccc;	
		display: block;
		text-align: center;
		padding-top: 24px;
		font-weight: normal;
		
}
.title h2{
		font-family: "微软雅黑" ;
		font-size: 23px;
		color: #333333;
		display: block;
		text-align: center;
		font-weight: normal;
}
.font p{
		text-align: center;
		width: 664px;
		margin: 0 auto;
		font-family: "宋体";
		font-size: 11.37px;
		margin-top: 41px;
		color: #666666;
		line-height: 22px;
		
}
.about_us span{
		text-align: center;
		width: 664px;
		margin: 0 auto;
		font-family: "宋体";
		font-size: 11.37px;
		color: #666666;
		display: block;
		margin-top: 30px;
}
.pan{
		margin-left: 200px;
		float: left;
		width: 100px;
		height: 136px;
		margin-top: 55px;
}
.winn,.team{
		margin-left: 250px;
		float: left;
		width: 100px;
		height: 136px;
		margin-top: 55px;
}

.pan a{
		background: url(../img/pan.png)  no-repeat center;
		width: 100px;
		height: 100px;
		background-color: #FFFFFF;
		text-align: center;
		display: block;
}
.pan a:hover{
		background: url(../img/panb.png)  no-repeat center;
		width: 100px;
		height: 100px;
		background-color: #099140;
		text-align: center;
		display: block;
}
.winn a{
		width: 100px;
		height: 100px;
		display: block;
		background: url(../img/winn.png) no-repeat #FFFFFF center;
}
.winn a:hover{
		
		width: 100px;
		height: 100px;
		background-color: #099140;
		text-align: center;
		display: block;
		background: url(../img/winnb.png) no-repeat center #099140;
}
.team a{
		width: 100px;
		height: 100px;
		display: block;
		background: url(../img/team.png) no-repeat #FFFFFF center;
}
.team a:hover{
		background: url(../img/teamb.png)  no-repeat center;
		width: 100px;
		height: 100px;
		background-color: #099140;
		text-align: center;
		display: block;
}
.icon{
		height: 233px;
}
.icon p{
		font-family: "微软雅黑";
		font-size: 13.26;
		color: #999999;
		text-align: center;	
		margin-top: 20px;
}
.icon p:hover{
		color: #099140;
}
.about_us_bottom .icon li a img{
		margin-top: 25px;
}
.about_us_bottom h4,h6,h5{
		font-family: "微软雅黑";
		font-size: 13.26px;
		color: #666666;
		float: left;
}
.more{
		display: block;
		width: 160px;
		height: 40px;
		background: #099140;
		text-align: center;
		font-size: 17px;
		font-family: "微软雅黑";
		margin: 0 auto;
		color: #FFFFFF;
		line-height: 40px;
		margin-bottom: 60px;
}
.captionb{
		width: 160px;
		height: 82px;
		margin: 0 auto;
		background: url(../img/font_pro.jpg) no-repeat center;
		margin-top: 18px;
		
}
.captionb b:first-child{
		font-family: "微软雅黑" ;
		font-size: 17.05px;
		color: #cccccc;	
		display: block;
		text-align: center;
		padding-top: 24px;
		font-weight: normal;
		
}
.captionb b:first-child+b{
		font-family: "微软雅黑" ;
		font-size: 22.74px;
		color: #333333;
		display: block;
		text-align: center;
		font-weight: normal;
}
.product ul{
		width: 1200px;
		position: absolute;
		left: 50%;
		margin-left: -600px;
		margin-top: 54px;
}
.product ul li{
		width: 260px;
		height: 320px;
		float: left;
		margin-left: 30px;
}
.product ul li p{
		font-family: "微软雅黑";
		font-size: 13px;
		margin-top: 15px;
		text-align: center;
}
.more2{
		display: block;
		width: 160px;
		height: 40px;
		background: #099140;
		text-align: center;
		font-size: 17px;
		font-family: "微软雅黑";
		margin: 0 auto;
		color: #FFFFFF;
		line-height: 40px;
		margin-top: 400px;
}
.news{
		width: 100%;
		background: url(../img/us_bg.jpg) repeat-x;
		margin-top: 23px;
}
.news_middle{
		width: 1200px;
		margin: 0 auto;
}
.captionc{
		width: 160px;
		height: 82px;
		margin: 0 auto;
		background: url(../img/fontbg.jpg) no-repeat center;
		padding-top: 48px;
		
}
.captionc b:first-child{
		font-family: "微软雅黑" ;
		font-size: 17.05px;
		color: #cccccc;	
		display: block;
		text-align: center;
		
		font-weight: normal;
		
}
.captionc b:first-child+b{
		font-family: "微软雅黑" ;
		font-size: 22.74px;
		color: #333333;
		display: block;
		text-align: center;
		font-weight: normal;
}
.news_ps{
		width: 330px;
		height: 330px;
		display: block;
		float: left;
		margin-left: 85px;
		margin-top: 14px;
}
.news_bg{
		width: 700px;
		height: 240px;
		background: #FFFFFF;
		/*border: 1px solid #000000;*/
		/*margin-left: 495px;*/
		float: right;
		margin-top: 64px;
		position: relative;
}
.news_bg ul{
		width: 640px;
		height: 221px;
		
		
		position: absolute;
		left: 41px;
		top: 12px;
}
.news_bg ul li{
		height: 24px;
		border-bottom: 1px solid #b3b3b3;
		margin-top: 12px;
}
.news_bg ul li p:first-child{
		width: 539px;
		float: left;
		margin-left: 11px;
		
}
.news_bg ul li p:first-child+p{
		float: right;
		margin-right: 6px;
}
.news_bg ul li p a{
		color: #666666;
}
.new_more{
		display: block;
		width: 160px;
		height: 40px;
		background: #099140;
		text-align: center;
		font-size: 17px;
		font-family: "微软雅黑";
		margin: 0 auto;
		color: #FFFFFF;
		line-height: 40px;
		margin-top: 400px;
		margin-bottom: 20px;
}

