*{
		font-weight: normal;
		font-family: "微软雅黑";
		font-size: 13px;
}
.optacion{
		width: 690px;
		height: 30px;
		background: #FFFFFF;
		opacity: 0.6;
		position: absolute;
		z-index: 2;
		right: 50%;
		margin-right: -600px;
		margin-top: -30px;
		-webkit-opacity:0.6;//谷歌&苹果
		-moz-opacity:0.6;//火狐
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.contact_news{
		width: 1200px;
		margin: 0 auto;
}
.contact_news h2{
		font-family: "微软雅黑";
		font-size: 23px;
		font-weight: normal;
		text-align: center;
		margin-top: 100px;
}
.contact_news b{
		margin-top: 36px;
		display: block;
		float: left;
}
.contact_news h2+b{
		margin-left: 165px;
		margin-right: 92px;
}
.contact_news h2+b+b+b{
		margin-left: 107px;
		margin-right: 149px;
}
.contact_news a img{
		margin-left: 12px;
		margin-top: 36px;
}
.contact_news p{
		text-indent: 2em;
		font-family: "微软雅黑";
		font-size: 13px;
		color: #504043;
		line-height: 35px;
		margin-right: 20px;
}
.contact_news h2+b+b+b+b+a+p{
		margin-top: 30px;
}
.next{
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 52px;
}
.next p{
		color: #666666;
		
}
.next a{
		color: #666666;
}
.next a:hover{
		color: #999999;
}
.next p+p{
		color: #666666;
}
.next p+p:hover{
		color: #ff9966;
}

.next p+p a:hover{
		color: #ff9966;
}
