*{margin: 0px; padding: 0px; text-decoration: none; border: none; color: black;}

li{list-style-type: none;}


.headder{width: 1200px;
		height: 120px; 
		margin: 0 auto;}
		  
.headder a img{ 
		float: left;
		width: 402px;
		height: 76px;
		margin-top: 18px;
		margin-right: 48px;
		}
		
.headder_name{
		background: url(../img/name.jpg) no-repeat;
		float: left;
		margin-top: 18px;
		width: 97px;
		height: 76px;
		margin-left: 24px;
}
.biaoti{		float: right;
		
		}
.headder ul li{
		width: 150px;
		height: 120px;
		float: left;
		line-height:120px;
		text-align: center;
}
.headder ul li a{
		display: block;
		text-decoration: none;
		font-family: "微软雅黑";
		font-size: 13px;
		
}
.nav_current{
		width: 150px;
		height: 120px;
		float: left;
		line-height:120px;
		text-align: center;
		background: #099140;
}
.nav_current a{
		color: #ffffff;
}
.headder ul li a:hover{
		background: #099140;
		color: #ffffff;
}
h1{		font-family: "微软雅黑";
		font-size: 28px;
		color: #000033;
		margin-top: 0px;
		text-align: center;}
.headder_text p{ 	
		font-family: "微软雅黑";
		font-size: 13px;
		color: #ccccff;
		margin-top: 0px;}
.headder_text{
		width: 189px;
		height: 56px;
		float: left;
		margin-top: 37px;
		margin-left: 8px;
}

.banner{
	overflow: hidden;
	width: 100%;
	height: 480px;
	}
.banner_content{
	position: relative;
	width: 1920px;
	height: 480px;
	left: 50%;
	margin-left: -960px;
	}

.banner .prev{
	position: absolute;
	width: 47px;
	height: 48px;
	background: url(../img/left.jpg) no-repeat;
	left: 300px;
	top: 50%;
	margin-top: -24px;
	}
	
.banner .next{
	position: absolute;
	width: 47px;
	height: 48px;
	background: url(../img/right.jpg) no-repeat;
	right: 300px;
	top: 50%;
	margin-top: -24px;
	}
.banner .hd{
	position: absolute;
	width: 90px;
	height: 20px;
	left: 50%;
	margin-left: -45px;
	bottom: 13px;
	z-index: 2;
	}
.banner .hd li{
		float: left;
		width: 20px;
		height: 20px;
		background: url(../img/pont.png) no-repeat;
		margin-left: 10px;
		cursor: pointer;
}
.banner .hd .on{
		background: url(../img/ppont.png) no-repeat;
		}
.footer{
		background: url(../img/foot.jpg) repeat-x;
		width: 100%;
		height: 360px;
}
.foot_middle{
		width: 1200px;
		height: 360px;
		margin: 0 auto;
}
.foot_top{
		height: 60px;
		width: 100%;
}
.foot_top ul{
		float: left;
}
.foot_top ul li{
		float: left;
		line-height: 60px;
		font-family: "微软雅黑";
		font-size: 13px;
		color: #FFFFFF;
}
.foot_top ul li a:hover{
		color: #ff9966;
}
.foot_top ul li:first-child{
		margin-right: 20px;
		margin-left: 3px;
}
.foot_top ul li a{
		font-family: "微软雅黑";
		font-size: 13px;
		color: #FFFFFF;
		margin-right: 27px;
}
.foot_buttom p{
		font-family: "微软雅黑";
		font-size: 13px;
		color: #FFFFFF;
		line-height: 28px;
		display: block;
}
.foot_buttom p:nth-child(6){
		float: right;
		margin-top: 49px;
		
}
.foot_add{
		width: 715px;
		height: 239px;
		float: left;
		margin-top: 36px;
		margin-left: 5px;
}
.foot_sao{
		width: 327px;
		height: 196px;
		float: right;
		margin-right: 42px;
		margin-top: 22px;
}
.foot_sao span{
		font-family: "微软雅黑";
		font-size: 13px;
		color: #FFFFFF;

}
.foot_weibo{
		width: 120px;
		height: 137px;
		float: left;
		margin-right: 27px;
}
.foot_weibo img{
		margin-left: 10px;
		margin-top: 23px;
}
.foot_weixin img{
		margin-top: 23px;
}
.foot_weixin{
		width: 120px;
		height: 157px;
		float: left;	
}
.foot_sao a{
		display: block;
		width: 30px;
		height: 30px;
		float: right;
		background: url(../img/top_arr.png) no-repeat #cccccc center center;
		margin-top: 166px;
}
.foot_sao a:hover{
		background: url(../img/top_arr.png) no-repeat  center center #ffb266;
}
/*清楚浮动*/
.clearfix{
		overflow: auto;

		
}
